# Ignore everything
*

# Allow specific Terraform files
!main.tf.json
!variables.tf.json
!outputs.tf.json
!version.tf.json
!terraform.tfvars.json
!provider.tf.json

# Allow .gitignore itself
!.gitignore